@using Dfe.EarlyYearsQualification.Content.Constants
@model Dfe.EarlyYearsQualification.Web.Models.Content.ConfirmQualificationPageModel

@{
    ViewData["Title"] = "Confirm Qualification";
}

@section BeforeMainContent {
    @{
        await Html.RenderPartialAsync("Partials/BackButton", Model.BackButton);
    }
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        @if (Model.HasErrors)
        {
            <div id="error-banner" class="govuk-error-summary" data-module="govuk-error-summary">
                <div role="alert">
                    <h2 class="govuk-error-summary__title">
                        @Model.ErrorBannerHeading
                    </h2>
                    <div class="govuk-error-summary__body">
                        <ul class="govuk-list govuk-error-summary__list">
                            <li>
                                <a id="error-banner-link"
                                   href="#confirm-qualification-choice-error">@Model.ErrorBannerLink</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        }
        <h1 id="heading" class="govuk-heading-xl">@Model.Heading</h1>
        <div id="post-heading" class="post-heading-wrapper">
            @Html.Raw(Model.PostHeadingContent)
        </div>
        <govuk-summary-list>
            <govuk-summary-list-row id="qualification-name-row">
                <govuk-summary-list-row-key>
                    @Model.QualificationLabel
                </govuk-summary-list-row-key>
                <govuk-summary-list-row-value>
                    @Model.QualificationName
                </govuk-summary-list-row-value>
            </govuk-summary-list-row>
            @if (Model.IsQualificationNameDuplicate && !string.IsNullOrEmpty(Model.QualificationNumber))
            {
                <govuk-summary-list-row id="qualification-number-row">
                    <govuk-summary-list-row-key>
                        @Model.QualificationNumberLabel
                    </govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>
                        @Model.QualificationNumber
                    </govuk-summary-list-row-value>
                </govuk-summary-list-row>
            }
            <govuk-summary-list-row id="qualification-level-row">
                <govuk-summary-list-row-key>
                    @Model.LevelLabel
                </govuk-summary-list-row-key>
                <govuk-summary-list-row-value>
                    @Model.QualificationLevel
                </govuk-summary-list-row-value>
            </govuk-summary-list-row>
            <govuk-summary-list-row id="qualification-org-row">
                <govuk-summary-list-row-key>
                    @Model.AwardingOrganisationLabel
                </govuk-summary-list-row-key>
                <govuk-summary-list-row-value>
                    @Model.QualificationAwardingOrganisation
                </govuk-summary-list-row-value>
            </govuk-summary-list-row>
        </govuk-summary-list>
        @if (Model.QualificationAwardingOrganisation == AwardingOrganisations.Various)
        {
            <div id="various-ao-content" class="various-ao-content-wrapper">
                @Html.Raw(Model.VariousAwardingOrganisationsExplanation)
            </div>
        }
        @if (Model.HasAnyAdditionalRequirementQuestions)
        {
            <div id="qualification-additional-requirement-content">
                @Html.Raw(Model.QualificationAdditionalRequirements)
            </div>
        }
        <form id="confirm-qualification" asp-controller="ConfirmQualification" asp-action="Confirm" method="post">
            <input type="hidden" name="qualificationId" value="@Model.QualificationId">
            <div id="confirm-qualification-form-group"
                 class="govuk-form-group @(Model.HasErrors ? "govuk-form-group--error" : "")">
                <fieldset class="govuk-fieldset" aria-describedby="confirm-qualification-choice-error">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h2 id="radio-heading" class="govuk-heading-m govuk-!-margin-bottom-0">@Model.RadioHeading</h2>
                    </legend>

                    @if (Model.HasErrors)
                    {
                        <govuk-error-message id="confirm-qualification-choice-error"
                                             visually-hidden-text="Error">@Model.ErrorText</govuk-error-message>
                    }
                    @foreach (var option in Model.Options)
                    {
                        <div class="govuk-radios__item">
                            @Html.RadioButtonFor(x => x.ConfirmQualificationAnswer, option.Value, new { @class = "govuk-radios__input", id = option.Value })
                            <label class="govuk-label govuk-radios__label" for="@option.Value">
                                @option.Label
                            </label>
                            @if (!string.IsNullOrEmpty(option.Hint))
                            {
                                var hintId = $"{option.Value}_hint";
                                <div id="@hintId" class="govuk-hint govuk-radios__hint">
                                    @option.Hint
                                </div>
                            }
                        </div>
                    }
                </fieldset>
            </div>

            @if (Model.ShowAnswerDisclaimerText)
            {
                await Html.RenderPartialAsync("Partials/WarningText", new WarningTextModel { WarningText = Model.AnswerDisclaimerText });
            }

            <div class="govuk-form-group">
                <govuk-button id="confirm-qualification-button" type="submit">@Model.ButtonText</govuk-button>
            </div>
        </form>
    </div>
</div>