@using Dfe.EarlyYearsQualification.Content.Entities
@using Dfe.EarlyYearsQualification.Web.Models.Content.QuestionModels
@model Dfe.EarlyYearsQualification.Web.Models.Content.EarlyYearsQualificationListModel

@{
    ViewData["Title"] = Model.Heading;
}

@section Scripts
{
    <script src="~/js/pages/web-view-page.js" asp-append-version="true"></script>
}

@section BeforeMainContent
{
    @{
        await Html.RenderPartialAsync("Partials/BackButton", Model.BackButton);
    }
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 id="heading" class="govuk-heading-xl">@Model.Heading</h1>
        <div id="body" class="govuk-body">
            <div class="govuk-!-margin-bottom-7" id="post-heading-content">
                @Html.Raw(Model.PostHeadingContent)
            </div>
        </div>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <div class="filter">
            <div class="filter__header">
                <h2 class="govuk-heading-m">
                    @Model.FilterHeading
                </h2>
            </div>
            <div class="filter__selected-filters">
                <h2 class="govuk-heading-m">
                    @Model.SelectedFiltersHeading
                </h2>
                @if (Model.HasFilters)
                {
                    using (Html.BeginForm("RemoveFilter", "QualificationList", FormMethod.Post, new { id = "remove-filter-form" }))
                    {
                        @if (!string.IsNullOrEmpty(Model.SearchTermFilter))
                        {
                            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">@Model.KeywordHeading</h3>
                            <button class="filter__button-active govuk-body" name="removeFilter" value="search-term-@Model.SearchTermFilter" aria-description="Remove search term @Model.SearchTermFilter filter">
                                <span class="filter__button-active-text">@Model.SearchTermFilter</span>
                                <span class="close-btn">&times;</span>
                            </button>
                        }
                        @if (!string.IsNullOrEmpty(Model.QualificationStartDateFilter))
                        {
                            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">@Model.QualificationStartDateHeading</h3>
                            <button class="filter__button-active govuk-body" name="removeFilter" value="start-date-@Model.QualificationStartDateFilter" aria-description="Remove start date @Model.QualificationStartDateFilter filter">
                                <span class="filter__button-active-text">@(Model.StartDateFilters.OfType<OptionModel>().First(x => x.Value == Model.QualificationStartDateFilter).Label)</span>
                                <span class="close-btn">&times;</span>
                            </button>
                        }
                        @if (!string.IsNullOrEmpty(Model.QualificationLevelFilter))
                        {
                            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">@Model.QualificationLevelHeading</h3>
                            <button class="filter__button-active govuk-body" name="removeFilter" value="qualification-level-@Model.QualificationLevelFilter" aria-description="Remove Level @Model.QualificationLevelFilter filter">
                                <span class="filter__button-active-text">Level @Model.QualificationLevelFilter</span>
                                <span class="close-btn">&times;</span>
                            </button>
                        }
                        <p class="govuk-body govuk-!-margin-bottom-0">
                            <a class='govuk-link' href='/clear-filters'>@Model.ClearFiltersLinkLabel</a>
                        </p>
                    }
                }
                else
                {
                    <p class="govuk-body govuk-!-margin-bottom-0">
                        @Model.NoFiltersSelectedContent
                    </p>
                }
            </div>

            @using (Html.BeginForm("ApplyFilter", "QualificationList", FormMethod.Post, new { id = "apply-filter-form" }))
            {
                <div class="filter__filter-body">
                    <div class="filter__filter-body__section">
                        <label for="SearchTermFilter" class="govuk-heading-m govuk-!-margin-bottom-2">
                            @Model.KeywordHeading
                        </label>
                        <input class="govuk-input" asp-for="SearchTermFilter" autocomplete="off" />
                    </div>
                    <div class="filter__filter-body__section">
                        <govuk-radios for="QualificationStartDateFilter">
                            <govuk-radios-fieldset class="govuk-radios govuk-radios--small">
                                <govuk-radios-fieldset-legend is-page-heading="false" class="govuk-fieldset__legend--m">
                                    @Model.QualificationStartDateHeading
                                </govuk-radios-fieldset-legend>
                                @foreach (var radio in Model.StartDateFilters)
                                {
                                    if (radio is OptionModel optionModel)
                                    {
                                        <govuk-radios-item value="@optionModel.Value">
                                            @optionModel.Label
                                        </govuk-radios-item>
                                    }
                                }
                            </govuk-radios-fieldset>
                        </govuk-radios>
                    </div>
                    <div class="filter__filter-body__section">
                        <govuk-radios for="QualificationLevelFilter">
                            <govuk-radios-fieldset class="govuk-radios govuk-radios--small">
                                <govuk-radios-fieldset-legend is-page-heading="false" class="govuk-fieldset__legend--m">
                                    @Model.QualificationLevelHeading
                                </govuk-radios-fieldset-legend>
                                @foreach (var radio in Model.LevelFilters)
                                {
                                    if (radio is OptionModel optionModel)
                                    {
                                        <govuk-radios-item value="@optionModel.Value">
                                            @optionModel.Label
                                        </govuk-radios-item>
                                    }
                                }
                            </govuk-radios-fieldset>
                        </govuk-radios>
                    </div>
                    <govuk-button class="govuk-button govuk-!-margin-bottom-0">@Model.ApplyFiltersButtonContent</govuk-button>
                </div>
            }
        </div>
    </div>
    <div class="govuk-grid-column-two-thirds" id="qualification-webview-results">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-7">
            @Model.ShowingAllQualificationsLabel
        </h2>
        @if (Model.Qualifications.Any())
        {
            foreach (var qualification in Model.Qualifications)
            {
                <govuk-summary-card>
                    <govuk-summary-card-title>@qualification.QualificationName</govuk-summary-card-title>
                    <govuk-summary-list>
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>@Model.QualificationLevelLabel</govuk-summary-list-row-key>
                            <govuk-summary-list-row-value>@qualification.QualificationLevel</govuk-summary-list-row-value>
                        </govuk-summary-list-row>
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>@Model.StaffChildRatioLabel</govuk-summary-list-row-key>
                            <govuk-summary-list-row-value>@qualification.StaffChildRatio</govuk-summary-list-row-value>
                        </govuk-summary-list-row>
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>@Model.FromWhichYearLabel</govuk-summary-list-row-key>
                            <govuk-summary-list-row-value>@qualification.FromWhichYear</govuk-summary-list-row-value>
                        </govuk-summary-list-row>
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>@Model.ToWhichYearLabel</govuk-summary-list-row-key>
                            <govuk-summary-list-row-value>@qualification.ToWhichYear</govuk-summary-list-row-value>
                        </govuk-summary-list-row>
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>@Model.AwardingOrganisationLabel</govuk-summary-list-row-key>
                            <govuk-summary-list-row-value>@qualification.AwardingOrganisationTitle</govuk-summary-list-row-value>
                        </govuk-summary-list-row>
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>@Model.QualificationNumberLabel</govuk-summary-list-row-key>
                            <govuk-summary-list-row-value>@qualification.QualificationNumber</govuk-summary-list-row-value>
                        </govuk-summary-list-row>
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>@Model.NotesAdditionalRequirementsLabel</govuk-summary-list-row-key>
                            <govuk-summary-list-row-value>@qualification.AdditionalRequirements</govuk-summary-list-row-value>
                        </govuk-summary-list-row>
                    </govuk-summary-list>
                </govuk-summary-card>
            }
        }
        else
        {
            @Html.Raw(Model.NoQualificationsFoundContent)
        }

        <hr class='govuk-section-break govuk-section-break--xl govuk-section-break--visible' />

        @Html.Raw(Model.CheckIfAnEarlyYearsQualificationIsFullAndRelevantContent)
    </div>
</div>