@using System.Globalization
@model Dfe.EarlyYearsQualification.Web.Models.Content.QualificationDetailsModel

@{
    ViewData["Title"] = "Qualification Details";
}

@section Scripts
{
    <script src="~/js/pages/qualification-details-page.js" asp-append-version="true"></script>
}

@section BeforeMainContent {
    @{
        await Html.RenderPartialAsync("Partials/BackButton", Model.BackButton);
    }
}

<div class="govuk-grid-row">
    <div id="qualification-details-summary" class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop govuk-!-static-margin-bottom-8">
        @Html.HiddenFor(x => x.UserType, new { id="hdnUserTypeValue" })
        <h1 class="govuk-heading-xl" id="page-header">@Model.Content!.MainHeader</h1>
        <div class="govuk-!-static-margin-bottom-7">
            <button id="print-button-top" class="govuk-link govuk-body-s print-button govuk-!-display-none-print"
                    aria-label="Print page button">@Model.Content!.PrintButtonText</button>
        </div>
        <h2 class="govuk-heading-l"
            id="qualification-details-header">@Model.Content.QualificationDetailsSummaryHeader</h2>
        <govuk-summary-list class="govuk-!-static-margin-bottom-0">
            <govuk-summary-list-row>
                <govuk-summary-list-row-key id="qualification-name-label">
                    @Model.Content.QualificationNameLabel
                </govuk-summary-list-row-key>
                <govuk-summary-list-row-value id="qualification-name-value">
                    @Model.QualificationName
                </govuk-summary-list-row-value>
            </govuk-summary-list-row>
            @if (Model.IsQualificationNameDuplicate && !string.IsNullOrEmpty(Model.QualificationNumber))
            {
                <govuk-summary-list-row id="qualification-number-row">
                    <govuk-summary-list-row-key id="qualification-name-label">
                        @Model.QualificationNumberLabel
                    </govuk-summary-list-row-key>
                    <govuk-summary-list-row-value id="qualification-name-value">
                        @Model.QualificationNumber
                    </govuk-summary-list-row-value>
                </govuk-summary-list-row>
            }
            <govuk-summary-list-row>
                <govuk-summary-list-row-key id="qualification-level-label">
                    @Model.Content.LevelLabel
                </govuk-summary-list-row-key>
                <govuk-summary-list-row-value id="qualification-level-value">
                    @Model.QualificationLevel
                </govuk-summary-list-row-value>
            </govuk-summary-list-row>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key id="awarding-organisation-label">
                    @Model.Content.AwardingOrgLabel
                </govuk-summary-list-row-key>
                <govuk-summary-list-row-value id="awarding-organisation-value">
                    @Model.AwardingOrganisationTitle
                </govuk-summary-list-row-value>
            </govuk-summary-list-row>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key id="date-started-date-label">
                    @Model.Content.QualificationStartDateLabel
                </govuk-summary-list-row-key>
                <govuk-summary-list-row-value id="date-started-date-value">
                    @Model.DateStarted
                </govuk-summary-list-row-value>
            </govuk-summary-list-row>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key id="date-awarded-date-label">
                    @Model.Content.QualificationAwardedDateLabel
                </govuk-summary-list-row-key>
                <govuk-summary-list-row-value id="date-awarded-date-value">
                    @Model.DateAwarded
                </govuk-summary-list-row-value>
            </govuk-summary-list-row>
            @if (Model.AdditionalRequirementAnswers != null)
            {
                for (var count = 0; count < Model.AdditionalRequirementAnswers.Count; count++)
                {
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key id="additional-requirement-@count-label">
                            @Model.AdditionalRequirementAnswers[count].ConfirmationStatement
                        </govuk-summary-list-row-key>
                        <govuk-summary-list-row-value id="additional-requirement-@count-value">
                            @CultureInfo.CurrentCulture.TextInfo.ToTitleCase(Model.AdditionalRequirementAnswers[count].Answer!.ToLower())
                        </govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                }
            }
            <govuk-summary-list-row>
                <govuk-summary-list-row-key id="date-of-check-label">
                    @Model.Content.DateOfCheckLabel
                </govuk-summary-list-row-key>
                <govuk-summary-list-row-value id="date-of-check-value">
                    @DateTime.UtcNow.ToString("dd MMMM yyyy")
                </govuk-summary-list-row-value>
            </govuk-summary-list-row>
        </govuk-summary-list>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
        <div id="qualification-result">
            @{ await Html.RenderPartialAsync("Partials/QualificationResult", Model.QualificationResultModel); }

            <h2 class="govuk-heading-l" id="ratio-heading">@Model.Content.RatiosHeading</h2>
            @if (!string.IsNullOrEmpty(Model.Content.RatiosText))
            {
                @Html.Raw(Model.Content.RatiosText)
            }

            @if (!string.IsNullOrEmpty(Model.Content.RatiosAdditionalInfoText))
            {
                <div id="ratio-additional-info">
                    @Html.Raw(Model.Content.RatiosAdditionalInfoText)
                </div>
            }

            @foreach (var row in Model.OrderRatioRows())
            {
                await Html.RenderPartialAsync("Partials/RatioRow", row);
            }
            
            <h2 class="govuk-heading-l govuk-!-static-margin-top-8"
                id="requirements-heading">@Model.Content!.RequirementsHeading</h2>

            @Html.Raw(Model.Content!.RequirementsText)

            <div class="govuk-!-static-margin-top-7 print-button-container govuk-!-display-none-print">
                @if (!string.IsNullOrEmpty(Model.Content.PrintInformationHeading) && !string.IsNullOrEmpty(Model.Content.PrintInformationBody))
                {
                    await Html.RenderPartialAsync("Partials/AdditionalInformation", new AdditionalInformationModel
                                                                                    {
                                                                                        AdditionalInformationHeader = Model.Content.PrintInformationHeading,
                                                                                        AdditionalInformationBody = Model.Content.PrintInformationBody
                                                                                    });
                }
                <button id="print-button-bottom" class="govuk-link govuk-body-s print-button"
                        aria-label="Print page button">@Model.Content!.PrintButtonText</button>
            </div>

            <p class="govuk-body govuk-!-static-margin-top-6 govuk-!-margin-bottom-2 govuk-!-display-none-print">
                <govuk-button-link id="check-another-qualification-link" class="govuk-button--secondary" href="@Model.Content.CheckAnotherQualificationLink?.Href">
                    @Model.Content.CheckAnotherQualificationLink?.DisplayText
                </govuk-button-link>
            </p>
        </div>
    </div>
</div>