@using Dfe.EarlyYearsQualification.Web.Models.Content
@using Dfe.EarlyYearsQualification.Web.Models.Content.QuestionModels
@model Dfe.EarlyYearsQualification.Web.Models.Content.FeedbackFormPageModel

@{
    ViewData["Title"] = Model.Heading;
}

@section BeforeMainContent {
    @{
        await Html.RenderPartialAsync("Partials/BackButton", Model.BackButton);
    }
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
        @if (Model.ErrorSummaryModel != null)
        {
            await Html.RenderPartialAsync("Partials/ErrorSummary", Model.ErrorSummaryModel!);
        }

        <h1 id="feedback-page-heading" class="govuk-heading-xl">@Model.Heading</h1>
        <div id="feedback-page-body" class="govuk-body">
            <div class="govuk-!-margin-bottom-7" id="post-heading-content">
                @Html.Raw(Model.PostHeadingContent)
            </div>
            @using (Html.BeginForm("Post", "GiveFeedback", FormMethod.Post, new { id = "give-feedback-form" }))
            {
                @for (var questionIndex = 0; questionIndex < Model.Questions.Count; questionIndex++)
                {
                    var question = Model.Questions[questionIndex];
                    var questionId = $"{questionIndex}_question";
                    <div class="govuk-!-margin-bottom-7">
                        @if (question.GetType() == typeof(FeedbackFormQuestionRadioModel))
                        {
                            var questionData = question as FeedbackFormQuestionRadioModel;
                            <input type="hidden" name="QuestionList[@questionIndex].Question" value="@questionData!.Question"/>
                            <div class="govuk-form-group @(Model.QuestionList[questionIndex].HasError ? "govuk-form-group--error" : "")">
                                <fieldset class="govuk-fieldset">
                                    <legend class="govuk-!-margin-bottom-3">
                                        <h2 class="govuk-heading-m govuk-!-margin-bottom-0" id="@questionId">@questionData.Question</h2>
                                    </legend>
                                    <div class="govuk-radios" data-module="govuk-radios">
                                        @foreach (var option in questionData.OptionsItems)
                                        {
                                            var optionModel = option as OptionModel;
                                            var @checked = optionModel!.Value == Model.QuestionList[questionIndex].Answer ? "checked" : "";
                                            var radioButtonId = $"{questionIndex}_{optionModel.Value}";
                                            if (Model.ErrorSummaryModel != null && Model.ErrorSummaryModel.ErrorSummaryLinks.Exists(x => x.ElementLinkId == radioButtonId))
                                            {
                                                var errorId = $"{questionId}_error-message";
                                                <govuk-error-message id="@errorId" visually-hidden-text="Error">@Model.QuestionList[questionIndex].ErrorMessage</govuk-error-message>
                                            }

                                            <div class="govuk-radios__item">
                                                @Html.RadioButtonFor(x => x.QuestionList[questionIndex].Answer, optionModel.Value, new { @class = "govuk-radios__input", id = radioButtonId, @checked, questionData.IsRequired })
                                                <label class="govuk-label govuk-radios__label" for="@radioButtonId">
                                                    @optionModel.Label
                                                </label>
                                                @if (!string.IsNullOrEmpty(optionModel.Hint))
                                                {
                                                    var hintId = $"{optionModel.Value}_hint";
                                                    <div id="@hintId" class="govuk-hint govuk-radios__hint">
                                                        @optionModel.Hint
                                                    </div>
                                                }
                                            </div>
                                        }
                                    </div>
                                </fieldset>
                            </div>
                        }
                        else if (question.GetType() == typeof(FeedbackFormQuestionTextAreaModel))
                        {
                            var textAreaId = $"{questionIndex}_textArea";
                            var hintId = $"textarea_{questionIndex}_hint";
                            var errorId = $"{questionId}_error-message";
                            var questionData = question as FeedbackFormQuestionTextAreaModel;

                            var textAreaAttributes = new Dictionary<string, object>
                            {
                                { "class", "govuk-textarea" },
                                { "id", textAreaId },
                                { "isRequired", questionData!.IsRequired }
                            };

                            <input type="hidden" name="QuestionList[@questionIndex].Question" value="@questionData.Question"/>

                            <div class="govuk-form-group @(Model.QuestionList[questionIndex].HasError ? "govuk-form-group--error" : "")">
                                <h2 class="govuk-label-wrapper" id="@questionId">
                                    <label class="govuk-heading-m govuk-!-margin-bottom-3" for="@textAreaId">
                                        @questionData.Question
                                    </label>
                                </h2>

                                @if (!string.IsNullOrEmpty(questionData.HintText))
                                {
                                    textAreaAttributes.Add("aria-describedby", hintId);
                                    <div class="govuk-hint" id="@hintId">
                                        @questionData.HintText
                                    </div>
                                }

                                @if (Model.ErrorSummaryModel != null && Model.ErrorSummaryModel.ErrorSummaryLinks.Exists(x => x.ElementLinkId == textAreaId))
                                {
                                    <govuk-error-message id="@errorId" visually-hidden-text="Error">@Model.QuestionList[questionIndex].ErrorMessage</govuk-error-message>
                                }

                                @Html.TextAreaFor(x => x.QuestionList[questionIndex].Answer, 5, 1, textAreaAttributes)
                            </div>
                        }
                    </div>
                }
                <govuk-button id="feedback-form-submit" type="submit">@Model.CtaButtonText</govuk-button>
            }
        </div>
    </div>
</div>